[submodule "Notes/External/ColorPopover"]
	path = Notes/External/ColorPopover
	url = https://github.com/nessup/ColorPopover.git
[submodule "Notes/External/Rangy"]
	path = Notes/External/Rangy
	url = https://github.com/nessup/Rangy.git
[submodule "Notes/External/WebViewJavascriptBridge"]
	path = Notes/External/WebViewJavascriptBridge
	url = https://github.com/nessup/WebViewJavascriptBridge.git
[submodule "Notes/External/jquery-ui-touch-punch"]
	path = Notes/External/jquery-ui-touch-punch
	url = https://github.com/nessup/jquery-ui-touch-punch.git
[submodule "Notes/External/sketch.js"]
	path = Notes/External/sketch.js
	url = https://github.com/nessup/sketch.js.git
[submodule "Notes/External/CanvasQuery"]
	path = Notes/External/CanvasQuery
	url = https://github.com/nessup/CanvasQuery.git
[submodule "Notes/External/Audio-Frameworks"]
	path = Notes/External/Audio-Frameworks
	url = https://github.com/ap4y/Audio-Frameworks.git
[submodule "Notes/External/MKNetworkKit"]
	path = Notes/External/MKNetworkKit
	url = https://github.com/nessup/MKNetworkKit.git
[submodule "Notes/External/json-framework"]
	path = Notes/External/json-framework
	url = https://github.com/nessup/json-framework.git
[submodule "Notes/External/JSONKit"]
	path = Notes/External/JSONKit
	url = https://github.com/nessup/JSONKit.git
