# Web app submodules
[submodule "Notes/WebApp/js/Rangy"]
	path = Notes/WebApp/js/Rangy
	url = https://github.com/nessup/Rangy.git
[submodule "Notes/WebApp/js/jquery-ui-touch-punch"]
	path = Notes/WebApp/js/query-ui-touch-punch
	url = https://github.com/nessup/jquery-ui-touch-punch.git
[submodule "Notes/WebApp/js/CanvasQuery"]
	path = Notes/WebApp/js/CanvasQuery
	url = https://github.com/nessup/CanvasQuery.git

# iOS submodules
[submodule "Notes/External/ColorPopover"]
	path = Notes/External/ColorPopover
	url = https://github.com/nessup/ColorPopover.git
[submodule "Notes/External/WebViewJavascriptBridge"]
	path = Notes/External/WebViewJavascriptBridge
	url = https://github.com/nessup/WebViewJavascriptBridge.git
[submodule "Notes/External/Audio-Frameworks"]
	path = Notes/External/Audio-Frameworks
	url = https://github.com/ap4y/Audio-Frameworks.git
[submodule "Notes/External/MKNetworkKit"]
	path = Notes/External/MKNetworkKit
	url = https://github.com/nessup/MKNetworkKit.git
[submodule "Notes/External/json-framework"]
	path = Notes/External/json-framework
	url = https://github.com/nessup/json-framework.git
[submodule "Notes/External/JSONKit"]
	path = Notes/External/JSONKit
	url = https://github.com/nessup/JSONKit.git
[submodule "Notes/External/MGSplitViewController"]
	path = Notes/External/MGSplitViewController
	url = https://github.com/nessup/MGSplitViewController.git
[submodule "Notes/External/TPAACAudioConverter"]
	path = Notes/External/TPAACAudioConverter
	url = https://github.com/nessup/TPAACAudioConverter.git
[submodule "Notes/External/PSTCollectionView"]
	path = Notes/External/PSTCollectionView
	url = https://github.com/steipete/PSTCollectionView.git
[submodule "Notes/External/TTTAttributedLabel"]
	path = Notes/External/TTTAttributedLabel
	url = https://github.com/mattt/TTTAttributedLabel.git
